@font-face {
  font-family: 'iconfont';  /* project id 1767761 */
  src: url('https://at.alicdn.com/t/font_1767761_sgxrpb43glh.eot');
  src: url('https://at.alicdn.com/t/font_1767761_sgxrpb43glh.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1767761_sgxrpb43glh.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1767761_sgxrpb43glh.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1767761_sgxrpb43glh.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1767761_sgxrpb43glh.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconfankui:before {
	content: "\e60c";
}

.icongouwuche:before {
	content: "\e656";
}

.iconfenxiang:before {
	content: "\e8b0";
}

.iconkuaidi:before {
	content: "\e613";
}

.iconquality:before {
	content: "\e663";
}

.iconqian4:before {
	content: "\e641";
}

.iconwuyoushouhou:before {
	content: "\e623";
}

.iconqiandao:before {
	content: "\e653";
}

.iconchakantieziguanzhu:before {
	content: "\e662";
}

.iconguanzhu:before {
	content: "\e7c8";
}

.iconsearch:before {
	content: "\e601";
}
